* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Neue Montreal, -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica Neue', Arial, sans-serif;
    background-color: #000000;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;  
}

