* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    background-color: #141414;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;  
}

